body {
    font-family: Verdana, serif;
    background: lemonchiffon;
    width: 85%;
} * {
    margin: 0;
    padding: 3%;
}

header, footer {
    color: black;
    width: 100%;
    position: center;
}

header {
    background-color: aquamarine;
    text-align: center;
    height: 10vh;
    font-family: "Times New Roman", serif;
    font-size: small;
}

footer {
    text-align: right;
    height: 15vh;
    font-family: "Times New Roman", serif;
    font-size: small;
    border-bottom: 0;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.Data {
    color: black;
    width: 100%;
    position: center;
    height: 15vh;
    font-family: "Times New Roman", serif;
    border-bottom: 0;
}
/*=========================================================================================================*/
/*=========================================================================================================*/
/* Normal Smart Watches screen */
@media screen and (min-width: 32px) {

    h1 span::before {
        color: grey;
        content: "Smart watches";
    }
}

/* Normal phone screen */
@media only screen and (min-width: 151px) {

    h1 span::before {
        color: grey;
        content: "phone devices";
    }
}

/* Normal tablets screen */
@media only screen and (min-width: 600px) {

    h1 span::before {
        color: grey;
        content: "Tablets devices";
    }
}

/* Normal Laptops screen */
@media only screen and (min-width: 900px) {

    h1 span::before {
        color: grey;
        content: "Laptop devices";
    }
}

/* Normal Desktop screen */
@media only screen and (min-width: 1800px) {

    h1 span::before {
        color: grey;
        content: "Desktop devices";
    }
}

/* Normal Extra large screens(TV, Big Monitors) */
@media only screen and (min-width: 4000px) {

    h1 span::before {
        color: grey;
        content: "TV devices";
    }
}