body {
    font-family: Verdana, serif;
    background: #F8F005 ;
    width: 85%;
} * {
    margin: 0;
    padding: 3%;
}

header, footer {
    color: black;
    width: 100%;
    position: center;
}

header {
    background-color: #00E6F6;
    text-align: center;
    height: 10vh;
    font-family: "Times New Roman", serif;
    font-size: small;
}

footer {
    text-align: right;
    height: 15vh;
    font-family: "Times New Roman", serif;
    font-size: small;
    border-bottom: 0;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.message,button{
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    box-shadow: 6px 0px 0px #00E6F6;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    outline: transparent;
    position: relative;
}
button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'Get message';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0)
}
.button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}
.message::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'Get message';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0)
}
.message:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

.Data {
    color: black;
    text-align: center;
    width: 100%;
    position: center;
    height: 15vh;
    font-family: "Times New Roman", serif;
    border-bottom: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}
/*=========================================================================================================*/
/*=========================================================================================================*/
/* Normal Smart Watches screen */
@media screen and (min-width: 32px) {

    h1 span::before {
        color: grey;
        content: "Smart watches";
    }
}

/* Normal phone screen */
@media only screen and (min-width: 151px) {

    h1 span::before {
        color: grey;
        content: "phone devices";
    }
}

/* Normal tablets screen */
@media only screen and (min-width: 600px) {

    h1 span::before {
        color: grey;
        content: "Tablets devices";
    }
}

/* Normal Laptops screen */
@media only screen and (min-width: 900px) {

    h1 span::before {
        color: grey;
        content: "Laptop devices";
    }
}

/* Normal Desktop screen */
@media only screen and (min-width: 1800px) {

    h1 span::before {
        color: grey;
        content: "Desktop devices";
    }
}

/* Normal Extra large screens(TV, Big Monitors) */
@media only screen and (min-width: 4000px) {

    h1 span::before {
        color: grey;
        content: "TV devices";
    }
}